
header {
    text-align: center;
    text-decoration: underline;
}



.quiz {
    height: 200px;
    display: block;
}

button{
    background-color:#17a2b8;
    color: white;
}

.buttons {
    text-align: center;
}
